$text-dark: #172b4d;
body {
    color: $text-dark;
}
a, .btn-link {
  color: $text-dark;
}
.icon-2x {
    font-size: 2rem;
}
.object-fit-cover {
    object-fit: cover;
}
.icon-1r {
    font-size: 1.5rem;
}
.hoverable {
    cursor: pointer;
}
.hoverable:hover {
    color: darkblue;
}
.border-bottom-dashed {
    border-bottom: 1px dashed #d1d1d1;
}
.dark-theme {
    filter: invert(1) hue-rotate(180deg);
}
.dark-theme img {
    filter: invert(1) hue-rotate(180deg);
}